<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bebsolutions.taskingmanagement">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".TaskingManagementApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OrdemServicoDescricaoActivity"></activity>
        <activity android:name=".OrdemServicoPlanejamentoActivity" />
        <activity android:name=".OrdemServicoEncerrarActivity" />
        <activity android:name=".OrdemServicoExecucaoActivity" />
        <activity
            android:name=".TelefoneAutenticarActivity"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListOrdemActivity" />
        <activity android:name=".OrdemServicoAberturaActivity" />
        <activity android:name=".OrdemServicoMaterialActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bebsolutions.taskingmanagement.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>